@import "tailwindcss";

:root {
  --primary: #1876D2;
  --surface: #20273E;
  --background: #0B1125;
  --neutral-100: #FFF;
  --neutral-200: #E3E3E3;
  --neutral-300: #C9C9C9;
  --neutral-400: #737677;
  --required: #F4B7AE;
  --label: #F6F8FC;
  --label-disabled: #E9E9E980;
  --priority-high: #BA1A1A;
  --priority-neutral: #B5EDFF;
  --priority-low: #E0F7FF;
  --info-neutral: #43D2CB;
  --info-warn: #D2B843;
  --dashboard-accent: #2DB3C8;
  --dashboard-gradient: linear-gradient(180deg, #75DFFFFF 0%, #75DFFF00 100%);
  --foreground: #fff;
}

@theme inline {
  --color-primary: var(--primary);
  --color-surface: var(--surface);
  --color-background: var(--background);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-required: var(--required);
  --color-label: var(--label);
  --color-label-disabled: var(--label-disabled);
  --color-priority-high: var(--priority-high);
  --color-priority-neutral: var(--priority-neutral);
  --color-priority-low: var(--priority-low);
  --color-info-neutral: var(--info-neutral);
  --color-info-warn: var(--info-warn);
  --color-dashboard-accent: var(--dashboard-accent);
  --dashboard-gradient: var(--dashboard-gradient);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-body: var(--font-inter);
  --font-space-grotesk: var(--font-space-grotesk);
  --font-montserrat: var(--font-montserrat);
  --font-work-sans: var(--font-work-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #1876D2;
    --surface: #20273E;
    --background: #0B1125;
    --neutral-100: #FFF;
    --neutral-200: #E3E3E3;
    --neutral-300: #C9C9C9;
    --neutral-400: #737677;
    --required: #F4B7AE;
    --label: #F6F8FC;
    --label-disabled: #E9E9E980;
    --priority-high: #BA1A1A;
    --priority-neutral: #B5EDFF;
    --priority-low: #E0F7FF;
    --info-neutral: #43D2CB;
    --info-warn: #D2B843;
    --dashboard-accent: #2DB3C8;
    --dashboard-gradient: linear-gradient(180deg, #75DFFFFF 0%, #75DFFF00 100%);
    --foreground: #fff;
  }
}

body {
  background: var(--background);
  color: var(--neutral-100);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
